.styleImage{
    display: flex;
    justify-content: center;
}
img{
    width: 50%;
    height: 500px;
}
h1{
    display: flex;
    justify-content: center;
}
h2{
    display: flex;
    justify-content: center;
}
h3{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}
footer{
    display: flex;
    justify-content: center;
    background-color: lightgrey;
}
.block{
    display: flex;
    justify-content: center;
}