
<body style="background-color: gold;">
    <div class="styleImage">
        <img  [src]="univ.image" [alt]="univ.name">
        
    </div>
    <h1>{{univ.name}}</h1>
    <h2>{{univ.country}}</h2>
    <h3>{{univ.rating}} место в мировом рейтинге</h3>
    
    <h3>{{univ.description}}</h3>
    
    
    <footer>
        <img style="width: 200px; height: 200px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/EF_Education_First_Logo.png/200px-EF_Education_First_Logo.png"/>
    </footer>
</body>