button{
    
    width: 300px;
    text-align: center;
    background-color: lightgreen;
    border-radius: 15%;
}
h1{
    display: flex;
    justify-content: center;
}
.block{
    display: flex;
    justify-content: center;
}