h1{
    display: flex;
    justify-content: center;
}

h1{
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
    margin-top: 10%;
}
.styleImage{
    display: flex;
    justify-content: center;
    margin-top: -2%;
}
.block{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
}
footer{
    display: flex;
    justify-content: center;
    background-color: lightgrey;
}